<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="list-group">

        <a href="#index.html" class="list-group-item active main-color-bg">PARTS</a>
        <a routerLink="/parts/parts-info" class="list-group-item"> Parts Info</a>
        <a routerLink="/parts/get-supersedings" routerLinkActive="active" class="list-group-item"> Get supersedings</a>
        <a routerLink="/parts/get-superseded" routerLinkActive="active" class="list-group-item"> Get superseded</a>
        <a routerLink="/parts/global-parts-locator" routerLinkActive="active" class="list-group-item"> Global Parts Locator</a>
        <a routerLink="/parts/frequent-parts" routerLinkActive="active" class="list-group-item"> Frequent Parts </a>

      </div>
    </div>

    <div class="col-md-9">

      <div class="panel panel-default">
        <div class="panel-heading main-color-bg">
          <h2 class="panel-title">GLOBAL PARTS LOCATOR </h2>
        </div>
        <div class="panel-body">
          <div class="row">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>